/* responsive */
@media (min-width: 0px) {
  html {
    font-size: 12px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 1px solid #0000;
  }
  .container {
    padding: 0 5vw;
  }
  .search-input {
    min-width: 70vw;
  }
  .venue-name {
    display: block;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid #0000;
  }
  .container {
    padding: 0 15vw;
  }
  .search-input {
    min-width: 40vw;
  }
  .venue-name {
    display: inline;
    margin-left: 0.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 18vw;
  }
  .search-input {
    min-width: 30vw;
  }
}

/* global */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  overflow: overlay;
}

input {
  font-family: 'Lato', sans-serif;
}

button {
  font-family: 'Lato', sans-serif;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #494444;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background: #19141433;
  width: 10px;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  z-index: -2;
}

.background-overlay {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #191414dd;
}

.container {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.test {
  color: white;
  background-color: blue;
  height: 100px;
  width: 100px;
}

.navbar {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1px;
}

.logo-subtitle {
  text-align: right;
  margin: 0;
  font-size: 0.5rem;
  transform: translateY(-0.6rem);
}

.logo-spotify-logo {
  margin-left: 1px;
  height: 0.5rem;
  transform: translateY(0.1rem);
}

.light-btn {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.36rem 0.9rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}

.light-btn:hover {
  background-color: #FFFFFF;
  color:#191414
}

.back-btn {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.back-btn:hover {
  background-color: transparent;
  color: #1DB954;
}

.back-icon {
  margin-right: 0.3rem
}

.spinner-small {
  width: 1.75rem;
  height: 1.75rem;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-photo {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.user-name {
  margin-right: 0.3rem;
  font-weight: 100;
}

/* MARK: page one */
.page-one {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-wrapper {
  margin-bottom: 1.2rem;
}

.title {
  font-family: 'Anton', sans-serif;
  font-size: 6.5rem;
  margin: 0;
  letter-spacing: 1px;
}

.title-em {
  color: #1DB954;
  font-size: 1.15em;
  letter-spacing: 2px;
  margin-left: 2px;
  
}

.subtitle {
  text-align: right;
  margin: 0;
  font-size: 1rem;
  transform: translateY(-1.8rem);
}

.spotify-logo {
  margin-left: 1px;
  height: 1rem;
  transform: translateY(0.1rem);
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  text-align: center;
  transition: ease-in-out 0.25s;
}

.search-input::placeholder{
  color: #ffffff99;
}

.search-input:focus {
  outline: none;
  padding-left: min(5vw, 50px);
  padding-right: min(5vw, 50px);
  border-bottom-color: #1DB954;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input-description {
  margin: 0;
  margin-top: 0.5rem;
  text-align: center;
  animation: 2s pulse infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% { color: #ffffff88; }
  100% { color: #ffffff11; }
}

.spinner {
  width: 4rem;
  height: 4rem;
}

/* MARK: page two */
.page-two {
  margin: 2vh 0;
  min-height: 100%;
}

.results-prompt {
  font-weight: 300;
  text-align: center;
}

.results-end {
  margin: 0;
  margin-bottom: 3rem;
}

.ellipses {
  letter-spacing: 0.1rem;
}

.results-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  align-items: stretch;
}

.set-display {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 100ms ease-in;
}

.set-display:hover {
  transform: translateX(1vw);
  cursor: pointer;
}

.set-info {
  height: 5rem;
  display: flex;
  align-items: center;
  flex: 1;
}

.date-wrapper {
  position: relative;
  box-shadow: 5px 5px 10px #111;
  align-self: stretch;
  width: 5rem;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.date-month {
  font-size: 1rem;
  padding: 0.15rem 0;
  font-weight: 700;
  background-color: #1DB954;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-day {
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #FFFFFF;
  color: #191414;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-bottom: 0.6rem;
}

.date-year {
  margin: 0;
  position: absolute;
  font-size: 0.65rem;
  color: #191414;
  bottom: 0.1rem;
  text-align: center;
  width: 100%;
}

.tour-name {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.venue-name {
  font-weight: 300;
  font-size: 0.6em;
  color:#FFFFFF88;
}

.artist-name {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.expand {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0.05;
  transition: 100ms ease-in-out;
}

.set-display:hover > .expand {
  opacity: 1;
}

.empty-results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MARK: page 3 */
.page-three {
  position: relative;
}

.songs-wrapper {
  background-color: #FEFEFEDD;
  color: #191414;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #222;
}

.tour-header {
  padding: 0 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  background-color: #1DB954;
  position: relative;
  color: #FFFFFF;
}

.tour-content {
  padding: 0.8rem 1.2rem;
  padding-bottom: 0;
}

.tour-title {
  display: inline-block;
  z-index: 100;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-family: 'Anton', sans-serif;
  margin: 0;
}

.tour-venue {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 300;
}

.artist-subtitle {
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 1rem;
  opacity: 0.6;
  margin-top: -0.5rem;
  margin-bottom: 0.6rem;
  letter-spacing: 0.05rem;
}

.set-part {
  margin-bottom: 1.2rem;
}

.set-order {
  position: relative;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.set-title {
  font-style: italic;
}

.song-list {
  list-style-position: inside;
  padding: 0;
  white-space: nowrap;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  display: block;
}

.song-wrapper {
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  margin-left: -0.5rem;
}

.song-wrapper:hover {
  background-color: #A8A8A840;
  border-radius: 10px;
}

.song-name {
  padding-left: 0.2rem;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  white-space: normal;
  cursor: default;
}

.song-info {
  font-weight: 300;
  font-style: italic;
  opacity: 0.8;
}

.song-info.has-name {
  font-size: 0.8em;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 250ms ease-in-out;
  margin-left: 0.75rem;
  background-color: #45E17C;
  /* background-color: #19141440; */
  color: #1DB954;
}

.generate-btn.disabled {
  color: #191414;
  background-color: #696464;
  opacity: 0.25;
}

.generate-btn:not(.disabled):hover {
  background-color: #6DFFA4;
}

.generate-btn:not(.disabled):hover > i {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-0.1rem);}
	60% {transform: translateY(-0.2rem);}
}

.generate-btn.disabled:hover {
  cursor: default;
}

.login-warning {
  position: absolute;
  top: -1.8rem;
  left: 0;
  width: 100%;
  height: fit-content;
  cursor: default;
  text-align: center;
  font-weight: 300;
  font-size: 0.75rem;
  color: #FF5555;
}

/* MARK: page four */
.page-four {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.complete-message {
  text-align: center;
  margin: 0;
}

.complete-failures {
  color: #ff6c6c;
  display: inline-block;
  font-size: 1em;
  margin: 1.2em 0;
}

.failure-title {
  margin: 0;
  margin-bottom: 0.3em;
}

.failure-list {
  margin: 0;
  list-style-position: inside;
  padding: 0;
}

.complete-disclaimer {
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
  margin: 0;
}

.complete-main-btn {
  background-color: #1DB954;
  color: #FFFFFF;
  width: 80%;
  font-size: 1.3em;
  padding: 0.45em 15vw;
  border-radius: 1.2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.complete-main-btn:hover {
  background-color: #2DC964;
}

.complete-home-btn {
  background-color: transparent;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 0.9em;
  transition: ease-in-out 250ms;
}

.complete-home-btn:hover {
  opacity: 1;
}